name: CI

on:
  pull_request:
    types: ['opened', 'reopened', 'synchronize']
  push:
    branches: ['master']

jobs:
  build:
    runs-on: neo-x86-medium
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 12
          cache: npm
      - name: Install
        run: npm ci --prefer-offline
      - name: Format check
        run: npm run format:check
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Test
        run: npm test -- --coverage
      - name: Upload coverage
        uses: ./
        with:
          coverageEndpoint: ${{ secrets.COVERAGE_ENDPOINT }}
          coverageToken: ${{ secrets.COVERAGE_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
